{% extends "base.html" %}

{% block title %}Climbers | Bouldering Tracker{% endblock %}

{% block content %}
<h1 class="h3 mb-3">Climbers</h1>

{% if climbers %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Experience</th>
      </tr>
    </thead>
    <tbody>
      {% for climber in climbers %}
        <tr>
        <td>
            <a href="{{ url_for('main.climber_detail', climber_id=climber.climber_id) }}" style="display:block;">
                {{ climber.first_name }} {{ climber.last_name }}
        </a>
        </td>
          <td>{{ climber.email }}</td>
          <td>{{ climber.experience_level }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No climbers found.</p>
{% endif %}
{% endblock %}